<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
        <a href="/" class="navbar-brand">Home</a>
        </div>
    </div>
</header>